.l-auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: .9375rem;

  &__logo {
    display: block;
    width: 3.125rem;
    height: 2.5rem;
    font: 0/0 a;
    background: url("~@/assets/logo.svg") no-repeat center center;
    background-size: cover;
  }

  &__text {
    margin: 0;
    text-align: center;
  }
}