.l-auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: calc(100vh - .3125rem);

  &__logo {
    display: block;
    width: 3.125rem;
    height: 2.5rem;
    margin: .9375rem;
    font: 0/0 a;
    background: url("~@/assets/logo.svg") no-repeat center center;
    background-size: cover;
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin: 0;
    text-align: center;

    &:last-of-type {
      margin-bottom: .9375rem;
    }
  }
}