.page-header {
  padding: $column-gap;

  @include until(desktop) {
    background-color: $primary;
  }
}

.page-title {
  font-size: $font-size-base * 1.5;

  @include until(desktop) {
    color: $white;
  }
}

.page-subtitle {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: lighten($primary, 23.5%);

  @include from(desktop) {
    color: $gray-500;
  }
}