.sidebar-wrapper {
  @include until(desktop) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 4, 30, .5);

    &.is-visible {
      display: block;
    }
  }
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 16.875rem;
  height: 100%;
  padding: 1.5rem;
  background-color: $white;
  border-top-right-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;

  .nav {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    font-family: $headings-font-family;
    font-size: .875rem;
    font-weight: $headings-font-weight;
    color: $body-color;
    text-decoration: none;
    border-radius: $border-radius / 2;

    &.is-active {
      background-color: $gray-100;

      ~ .dropdown-menu {
        display: block;
      }
    }
  }

  .nav-icon {
    display: block;
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: $gray-100;
    border-radius: $border-radius / 2;
  }

  .nav-text {
    margin-left: .75rem;
  }

  .dropdown-menu {
    display: none;
    padding-left: 3.5625rem;
    margin-bottom: 1.5rem;
    list-style: none;
  }

  .dropdown-item {
    display: block;
    margin-bottom: 1rem;
    font-size: .875rem;
    color: $body-color;
    text-decoration: none;
    transition: ease-in-out all 250ms;

    &:hover,
    &.is-active {
      padding-left: .5rem;
      color: $primary;
    }
  }

  @include until(desktop) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  @include from(desktop) {
    border-radius: 0;
    border-right: .3125rem solid $gray-100;
  }
}
