.l-grid {
  display: flex;

  &.is-centered {
    justify-content: center;
  }

  &__column {
    @each $name, $width in $grid-breakpoints {
      @media (min-width: $width) {
        @for $i from 1 through $grid-columns {
          &.is-#{$name}-#{$i} {
            flex: 0 0 auto;
            width: percentage($i / $grid-columns);
          }
        }

        @for $i from 1 through ($grid-columns - 1) {
          &.is-offset-#{$name}-#{$i} {
            margin-left: percentage($i / $grid-columns);
          }
        }
      }
    }
  }
}