// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap");

// Base
@import "base/variables";

// Grid
@import "components/container";
@import "components/grid";