.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @each $name, $width in $breakpoints {
    @media (min-width: $width) {
      max-width: map-get($container-max-widths, $name);
    }
  }
}