*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $body-color;
  border-top: .3125rem solid $primary;
}

%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: 1.2;
}

h1 {
  @extend %heading;
  font-size: $font-size-base * 2.5;
}

h2 {
  @extend %heading;
  font-size: $font-size-base * 2;
}

h3 {
  @extend %heading;
  font-size: $font-size-base * 1.75;
}

h4 {
  @extend %heading;
  font-size: $font-size-base * 1.5;
}

h5 {
  @extend %heading;
  font-size: $font-size-base * 1.25;
}

h6 {
  @extend %heading;
  font-size: $font-size-base;
}