// Color system
$white: #fff;
$gray-100: #f4f4f4;
$gray-500: #a8a8a8;
$gray-700: #4d4d4d;

$blue: #28a6e5;
$green: #29e2a8;
$yellow: #e2d829;
$orange: #ff9a2c;
$red: #e02b52;

$primary: $blue;
$success: $green;
$warning: $orange;
$danger: $red;

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger
);

// Grid breakpoints
$breakpoints: (
  mobile: 0,
  tablet: 768px,
  desktop: 992px,
  widescreen: 1200px
);

// Grid containers
$container-max-widths: (
  mobile: 540px,
  tablet: 720px,
  desktop: 960px,
  widescreen: 1140px
);

// Grid columns
$grid-columns: 12;
$column-gap: .75rem;

// Body
$body-color: $gray-700;

// Typography
$font-family: "IBM Plex Sans", sans-serif;
$font-size-base: .875rem;
$font-size-sm: $font-size-base * .75;
$font-weight-base: 400;

$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 600;

// Components
$border-radius: .625rem;
