// Colors
$picton-blue: #28a6e5;
$mine-shaft: #333;
$white: #fff;

$theme-colors: (
  "primary": $picton-blue
);

// Typography
$font-family: "Open Sans", sans-serif;
$font-size-base: .8125rem;
$font-weight-base: 300;

$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 500;

// Body
$body-color: $mine-shaft;