// Color system
$blue: #28a6e5;

$primary: $blue;

// Typography
$font-family: "IBM Plex Sans", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;

$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 600;