// Colors
$picton-blue: #28a6e5;
$mine-shaft: #333;
$mercury: #e6e6e6;
$white: #fff;

$primary: $picton-blue;

$theme-colors: (
  "primary": $picton-blue
);

// Grid
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Components
$border-width: 1px;
$border-color: $mercury;
$border-radius: .125rem;

// Typography
$font-family: "Open Sans", sans-serif;
$font-size-base: .8125rem;
$font-size-sm: .75rem;
$font-weight-base: 300;

$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 500;

// Body
$body-color: $mine-shaft;